$sprite-file-url: image-url('sprites.png');

@mixin bgpos($x-coor, $y-coor){
	background-position: $x-coor * 64px $y-coor * 64px;
}

[class^="icon-"], [class*=" icon-"]{
	display: inline-block;
	width: 64px;
	height: 64px;
	vertical-align: middle;
	background-image: $sprite-file-url;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.icon-special {
	@include bgpos(1, 1);
}